@font-face {
  font-family: "NanumSquare_acEB";
  src: url("../fonts/NanumSquare_acEB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareB";
  src: url("../fonts/NanumSquareB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareL";
  src: url("../fonts/NanumSquareL.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquare_acB";
  src: url("../fonts/NanumSquare_acB.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica95-Black.woff") format("woff"),
    url("../fonts/Helvetica\ Black.ttf") format("truetype");
}

/* @font-face {
  font-family: "Helvetica Black2";
  src: url("../fonts/Helvetica\ Black.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/Helvetica\ Bold.ttf") format("truetype");
} */

@font-face {
  font-family: "Helvetica B";
  src: url("../fonts/Helvetica75-Bold.woff") format("woff"),
    url("../fonts/Helvetica\ Bold.ttf") format("truetype");
}

.Helvetica {
  font-family: "Helvetica B";
}
.HelveticaB {
  font-family: "Helvetica B";
}
/* 로그인 */
.BottomInfo {
  font-family: "NanumSquareB";
}

/* Calendar */

.Text {
  font-family: "NanumSquareL";
}

/* ToDo */
.SleepTime {
  font-family: "Helvetica";
  /* margin-top: 0.5vh; */
}

.SleepMin {
  font-family: "Helvetica";
  /* margin-bottom: 0.5vh; */
}

/* Navigator */
.Logo {
  font-family: "HattonLight";
  color: ivory;
  width: 15%;
  display: flex;
  font-size: 1.9rem;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  margin-left: 5%;
}

/* DetailPost */
.ConditionText {
  font-family: "NanumSquare_acEB";
}
.TimeText {
  font-family: "NanumSquare_acEB";
  color: #4a5566;
}

.TimeText2 {
  font-family: "NanumSquareB";
}

/* Modify . Write */

.Search {
  font-family: "NanumSquareB";
  margin-left: 2px;
  font-size: 0.1vw;
}

/* Search */
.ReturnBtn {
  font-family: "NanumSquareB";
}

/* Table */
.Contents {
  display: flex;
  flex-direction: row;
  font-family: "NanumSquare_acEB";
  color: #4a5566;
}

.BigTimeText {
  font-size: 3vw;
  display: flex;
  align-items: center;

  justify-content: center;
  /* text-align: center; */
}
