@font-face {
  font-family: "HattonLight";
  src: url("../fonts/Hatton-Light.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquare_acEB";
  src: url("../fonts/NanumSquare_acEB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareB";
  src: url("../fonts/NanumSquareB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareL";
  src: url("../fonts/NanumSquareL.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquare_acB";
  src: url("../fonts/NanumSquare_acB.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica\ Black.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaB";
  src: url("../fonts/Helvetica\ Bold.ttf") format("truetype");
}

.Helvetica{
    font-family: "Helvetica";
}
.HelveticaB{
  font-family: "HelveticaB";
}
/* 로그인 */
.BottomInfo {
  font-family: "NanumSquareB";
}

/* Calendar */
.TitleText {
  margin-top:0.5%;
  text-align: center;
  font-size: 6vh;
  /* font-family: "NanumSquareB"; */
  font-family: "Helvetica";
  font-weight: bold;
  color: #495465;
  width: 70%;

  text-align: center;
  align-items: center;
  text-shadow: rgb(10 50 10 / 40%) 1px 1px 1px;
}

.MText1 {
  font-weight: bold;
  font-family: "Helvetica";
  color: #121212;
  border-bottom: 2px solid #121212;
  opacity: 60%;
  margin-left: 5%;
  text-shadow: rgb(10 50 10 / 40%) 0.5px 0.5px 0.5px;

}
.MText2 {
  font-weight: bold;
  font-family: "Helvetica";
  color: #121212;
 
  border-bottom: 2px solid #121212;
  opacity: 60%;
  margin-right: 5%;
  text-shadow: rgb(10 50 10 / 40%) 0.5px 0.5px 0.5px;

}
.WEEK {
  font-family: "Helvetica";
  background-color: #4A5566;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-top: 1%;
  font-size: 2vh;
  font-weight: bold;
  /* min-width: 50px; */
}

.DayText {
  font-family: "Helvetica";
  font-size: 1.4vh;
  margin-right: 0.5vh;
  margin-top: 0.5vh;
  font-weight: 550;

}

/* ToDo */
.SleepTime {
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: bold;
}

.SleepMin {
  font-family: "Helvetica";
  font-size: 12px;
  font-weight: bold;
}

/* Navigator */
.Logo {
  font-family: "HattonLight";
  color: ivory;
  width: 15%;
  display: flex;
  font-size: 1.9rem;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  margin-left: 5%;
}

/* DetailPost */
.ConditionText {
  font-family: "NanumSquare_acEB";
}
.TimeText {
  font-family: "NanumSquare_acEB";
  color:#4A5566;
}

.TimeText2 {
  font-family: "NanumSquareB";
}

/* Modify . Write */
.Date {
  font-family: "NanumSquare_acEB";
  font-size: 10px;
  margin: 3px 3px 0px 0px;

  font-weight: bold;
}

.Search {
  font-family: "NanumSquareB";
  margin-left: 2px;
  font-size:0.1vw;
}

/* Search */
.ReturnBtn {
  font-family: "NanumSquareB";
}

/* Table */
.Contents{
  display: flex;
  flex-direction: row;
  font-family: "NanumSquare_acEB";
  font-size: 1vw;
  
}

.BigTimeText{
  font-size: 3vw;
  display: flex;
  align-items: center;
  
  justify-content: center;
  /* text-align: center; */

  
  
}
